html {
  box-sizing: border-box;
  font-family: "Crimson Text", sans-serif;
  border-width: 2px;
  padding: 0 1rem;
  border: 1em;
  margin-bottom: 1.3em;
  margin-top: 0;
  font-style: normal;
  color:#222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  border-width: 2px;
  margin: 0;
}

article {
  margin: 0 0 1.3em;
  line-height: 1.3;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  padding-top: 1rem;
  font-style: normal;
  margin-bottom: .1rem;
  margin-left: 0;
}

article header {
  text-align: left;
  margin: .21em;
  border-bottom: 1px solid #999;
  margin-bottom: .9rem;
  padding-bottom: .75rem;
}


article header p {
  font-family: "Crimson Text", sans-serif;
  font-style: italic;
  font-size: .9rem;
  margin: .1rem .5rem;
}

article p {
border: 1rem;
margin-bottom: 1rem;
font-size: 1em;
font-weight: lighter;
}

article ol {
  padding-left: 1rem;
  font-size: .895rem;
  font-style: normal;
}

article ol li {
  font-size: 1rem;
  line-height: 1.3;
}

blockquote {
  font-size: 1.125rem;
  border-top: .25rem;
  margin-top: 1.4rem;
}

.quote {
  color: #555;
}

article p:nth-child(8) {
  padding-bottom: 1.4rem;
  border-bottom: 1px solid #999;
}
